body{
    margin: 0%;
    max-width: 100%;
    overflow-x: hidden;
}
header{
    background-image: url(./01.png);
}
#icon1{
    padding-left: 300px;
    padding-top: 70px;
}
.button1{
    border: 2px solid #7789f2;
    border-radius: 15px;
    float: right;
    text-align: center;
    background-color: #7789f2;
    text-decoration: none;
    color: white;
    margin-right: 400px;
    width: 150px;
    height: 30px;
    padding-top: 12px;
}
.button1:hover{
    background-image: url(./01.png);
    border: 2px solid white;
}
.text{
    color: white;
    float: left; 
    text-decoration: none;
}
.yammoe{
    padding-left: 300px;
}
.navigation{
  list-style: none;
  display: flex;
  float: right;
  padding-right: 353px;
  margin-top: -24px;
}
.list{
  display: inline-block;
  padding: 10px;
}
.anchor{
  text-decoration: none;
  color: white;
}
.navigation li a:hover{
  color: #7789f2;
}
.para1{
  list-style: none;
  color: white;
  font-size: 25px;
  padding-left: 312px;
  display: flex;
  margin-top: 32px;
}
}
.horizontal-line{
  width: 66%;
  position: absolute;
  left: 18%;
  top: 14%;
}

/* dropdown1 */

.dropdown1 {  
  display: none;  
  position: absolute;
  padding: 25px;
}  
.dropdown1 a{  
  text-decoration: none;  
  display: block; 
  font-size: 18px;
}  
/* .dropdown1 a:hover{
  color: red;  
}   */
.dropdown:hover .dropdown1{  
  display: block; 
}

#para{
    text-align: center;
    margin-top: 200px;
    color: white;
    line-height: 30px;
    padding-bottom: 200px;
}
.button2{
    border: 2px solid #7789f2;
    border-radius: 14px;
    width: 100px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 40px;
    background-color: #7789f2;
}
.button2:hover{
    background-image: url(./01.png);
    border: 2px solid white;
}
.button3{
    border: 2px solid white;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.button3:hover{
background-color: #7789f2;
border: 2px solid #7789f2;
}
.dui{
  font-size: 20px;
  padding-top: 38px;
  padding-left: 21%;
  color: rgb(85, 83, 83);
  margin: 0%;
}
.div1{
    padding-left: 360px;
    padding-bottom: 30px;
  }
.morbi{
  border: 0px solid gray;
  width: 250px;
  height: 350px;
  margin: 20px;
  display: inline-block;
  box-shadow: 0 0 5px rgb(192, 192, 192);
}
.morbi1{
  text-align: center;
  margin: 13px;
}
.morbi2{
  background-color: #7789f2;
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px 30px;
  font-size: 17px;
  margin-left: 30px;
  color: white;  
}
.morbi2:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}
/* section2 */

.section2-img1{
    background-image: url(./01.png);
    padding: 3rem;
}
.head{
    text-align: center;
}
.section2{
    width: 70%;
    padding: 5rem;
    background-color: white;
    margin: 0 auto;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: block;
}
.img-border{
    border: 2px solid black;
    background-image: url(./01.png);
    width: 450px;
    height: 300px;
    outline-width: 1px;  
    outline-style: solid;  
    outline-color: rgb(192, 192, 192);  
    outline-offset: 10px;
    display: inline-block;
    margin-top: 48px;
    margin-left: 125px;
}
.img-border:hover{
  opacity: 0.6;
}
.para6{
    width: 500px;
    padding-left: 100px;
}
.hello{
    border: 1px solid #e7e9f7;
    padding: 15px;
    border-radius: 50px;
    background-color: #e7e9f7;
    color: #7789f2;
}
.hello:hover{
    background-color: #b0b8e7;
}
.d-flex{
  display: flex;
}
/* section3 */

.section-3{
    width: 100%;
    height: 700px;
}
.adeo{
    display:inline-flex;
}
.section3-deo{
    background-image: url(./01.png);
    border: 0px solid gray;
    width: 250px;
    height: 250px;
    margin-left:63px;
    margin-top: 20px;
  }
.section3-deo2{
    background-image: url(./01.png);
    border: 0px solid gray;
    width: 250px;
    height: 250px;
    margin-left:320px;
    margin-top: 20px;
  }
.section3-deo2:hover{
    opacity: 0.8;
}
.section3-deo:hover{
    opacity: 0.8;
  }
.section3-deo1{
    border: 1px solid rgb(190, 190, 190); 
    color: rgb(77, 77, 77);
    box-shadow: 0 0 2px rgb(192, 192, 192);
    margin-top:250px;
    height:70px;
    text-align: center;
  }
  .section4-img3{
    background-image: url(./01.png);
  }
  .section4-para{
    color: white;
    /* padding-left: 200px; */
    text-align: center;
  }
  .doe{
    display: flex;
    padding-left: 400px;
    margin-top: 50px;
  }
  .edoe{
    padding: 30px;
  }
  .fdoe{
    padding: 30px;
  }
  .conubia{
    display: flex;
    margin: 100px;
    color: white;
  }
  .zoom{
    background-image: url(./01.png);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    zoom: 150%;
  }
  .conubia1{
    display: flex;
  }
  .zoom1{
    background-image: url(./01.png);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    zoom: 150%;
  }
  .hills{
    display: flex;
  }
  .section4-div1{
    border: 2px solid white;
    background-color: white;
    color: rgb(63, 63, 63);
    width: 28%;
    text-align: center;
    padding: 5px 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 20px;
    margin-left: 379px;
  }
  .section4-div2{
    border: 2px solid white;
    background-color: white;
    color: rgb(63, 63, 63);
    width: 28%;
    margin: 20px; 
    text-align: center;
    padding: 5px 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
/* footer */

.footer-img{
    background-image: url(./01.png);
    width: 100%;
    height: 700px;
    margin-top: 398px;
}
.footer-fb{
    position: absolute; 
    top: 260em; 
    left: 20%; 
    background-color: gray;
    width: 35px;
    height: 35px;
}
.footer-fb:hover{
    background-color: #acb3dd;
}
.footer-google{
    position: absolute; 
    top: 260em; 
    left: 22.6%; 
    background-color: gray;
    width: 35px;
    height: 35px;
}
.footer-google:hover{
    background-color: #acb3dd;
}
.footer-in{
    position: absolute; 
    top: 260em; 
    left: 25.1%; 
    background-color: gray;
    width: 35px;
    height: 35px;
}
.footer-in:hover{
    background-color: #acb3dd;
}
.footer-twr{
    position: absolute; 
    top: 260em; 
    left: 27.6%; 
    background-color: gray;
    width: 35px;
    height: 35px;
}
.footer-twr:hover{
    background-color: #acb3dd;
}
.footer-wk{
    position: absolute; 
    top: 260em; 
    left: 30.1%; 
    background-color: gray;
    width: 35px;
    height: 35px;
}
.footer-wk:hover{
    background-color: #acb3dd;
}
.footer-list{
    list-style-type: none;
    padding: 20px;
}
.footer-anchor{
    text-decoration: none;
    color: #5871ff;
}
.footer-ul{
    position: absolute;
    top: 247em;
    left: 34%;
}
form{
    position: absolute;
    top: 252em;
    left: 51%;
}
input{
    padding: 15px;
    border: 0px solid rgba(128, 128, 128, 0.3);
    border-radius: 14px;
    width: 110%;
    margin: 15px;
    background: rgba(128, 128, 128, 0.3);
    display: flex;
}
.footer-button{
    background-color: #7789f2;
    border: 2px solid #7789f2;
    border-radius: 15px;
    padding: 13px 25px;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 16px;
    text-decoration: none;
}
.footer-button:hover{
    background-image: url(./01.png);
    border: 2px solid white;
}
.container {
    width: 100px;
    height: auto;
    margin-left: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 249em;
    left: 20%;
  }
  .cell{
    background-image: url(./01.png);
    border: 5px solid rgba(105, 102, 102, 0.1);
    padding: 40px;
  }
.footer-ul1{
    display: flex;
    /* position: absolute; */
    top: 270em;
    left: 35%;
}

