@media (max-width: 1344px) {
  html {
    /* 9px/16px = 56.25% */
    font-size: 50.25%;
    transition: all 0.3s ease;
  }

  .inner-container {
    padding: 18.8rem 12.2rem 0;
  }

  .icon-bar a {
    font-size: 4.2rem;
    height: 327rem;
  }

  .hpy-customer h2 {
    font-size: 26px;
  }

  .hpy-customer p {
    font-size: 11px;
    margin-right: 4rem;
  }

  .container {
    max-width: 134rem;
  }

  footer-container {
    max-width: 144rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 48.25%;
  }
  .footer-container {
    max-width: 133rem;
  }
  .hpy-customer {
    margin-left: 10rem;
  }
  .inner-container {
    padding: 18.8rem 5.2rem 0;
  }

  .row {
    width: 84%;
  }

  .pool-img img {
    width: 37rem;
  }
}

@media (max-width: 944px) {
  html {
    /* 8px/16px = 0.5 = 50% */
    font-size: 37%;
  }

  .inner-container {
    padding: 18.8rem 10.2rem 0;
  }

  .header-container {
    grid-template-columns: 1fr;
  }

  .realtors {
    margin-top: 7rem;
  }

  .grid-coloums-2 {
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }

  .section2-img {
    padding-top: 13rem;
  }

  .grid-coloums-3 {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 12rem;
  }

  .tag {
    top: 44%;
    margin-left: 6.4rem;
  }

  .card-content p,
  span {
    font-size: 2rem;
    color: #888;
  }
  .section2-img img {
    width: 54%;
  }

  .pool-img img {
    height: 33rem;
    width: 47rem;
  }

  .icon-bar a {
    font-size: 3.2rem;
    height: 520rem;
  }

  .row {
    width: 73%;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0;
  }
}

@media (max-width: 704px) {
  .grid-coloums-3 {
    grid-template-columns: 1fr;
    margin-top: 12rem;
  }

  .container {
    max-width: 59rem;
  }

  .tag {
    top: 48%;
  }

  .section2-img img {
    width: 80%;
  }

  .pool-img img {
    height: 32rem;
    width: 48rem;
  }

  .row {
    width: 86%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 0;
  }

  .tag {
    top: 44%;
  }
}

@media (max-width: 34em) {
  .title {
    margin-top: 14rem;
    font-size: 10px;
  }

  .row {
    width: 59%;
    grid-template-columns: 1fr;
  }
}
