* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

/* side-Menu */

.icon-bar a {
  float: left;
  color: #fff;
  text-align: center;
  font-size: 6.2rem;
  transition: all 0.3s ease;
  background-color: #bf9562;
  height: 305rem;
  padding: 1rem 1rem;
}

/* Header */

.header-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.img-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(7, 31, 63, 0.5)),
    url(./img1-house.jpg);
  height: 80rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-container {
  color: #fff;
  padding: 27.8rem 17.2rem 0;
  margin-right: 10.4rem;
}

.inner-container p {
  font-size: 18px;
  letter-spacing: 1px;
  color: #bf9562;
  margin-bottom: 1.6rem;
}

.inner-container h1 {
  margin-bottom: 45px;
  font-size: 35px;
  letter-spacing: 1.8px;
  font-family: sans-serif;
}

.btn {
  padding: 15px 34px;
  background-color: #bf9562;
  border: none;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.title {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  align-items: center;
  column-gap: 1.6rem;
  margin-top: 25rem;
  font-size: 17px;
  text-align: center;
  color: rgb(133, 133, 133);
}

.title::before,
.title::after {
  content: "";
  height: 2px;
  background-color: rgb(133, 133, 133);
  display: block;
}

.section-featured {
  padding: 2.6rem 3rem 0;
}

.logos {
  display: flex;
  justify-content: space-around;
  column-gap: 3rem;
}

.logos img {
  height: 2.8rem;
  filter: grayscale(100%);
}

/* header-container1 */

.header-container1 {
  background-color: #172638;
}

.realtors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23rem;
  font-size: 18px;
  letter-spacing: 1px;
  color: #bf9562;
}

.inner-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.4rem;
}

.customers {
  display: flex;
  align-items: center;
  column-gap: 2.6rem;
  margin-bottom: 4.8rem;
}

.customers img {
  height: 6.8rem;
  width: 6.8rem;
  border-radius: 50%;
}

.text {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}

.text span {
  font-size: 10px;
  font-weight: 400;
  color: #888;
}

/* section------1 */

.section1 {
  margin: 7.6rem 0;
  background-color: #e6ae6a17;
}

.grid-coloums-2 {
  display: grid;
  /* column-gap: 6.4rem;   */
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.banner-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(7, 31, 63, 0.5)),
    url(./section1-img.jpg);
  height: 80rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section2-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20rem;
  margin: 0 5rem;
}

.pool-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(0%);
}

.pool-img img {
  height: 27rem;
  width: 50rem;
}

.hpy-customer {
  margin-left: 13rem;
}

.hpy-customer span {
  font-size: 17px;
  letter-spacing: 1px;
  color: #bf9562;
  margin-bottom: 1.6rem;
}

.hpy-customer h2 {
  font-size: 38px;
  font-weight: 400;
  font-style: italic;
  margin: 2.6rem 0;
  font-family: system-ui;
  color: #555;
}

.hpy-customer p {
  font-size: 14px;
  line-height: 2;
  color: #999;
  margin-top: 3rem;
  margin-right: 12rem;
  margin-bottom: 5.4rem;
}

/*  SECTION--2 */
.row {
  width: 60%;
  margin: auto;
  margin-bottom: 72px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6rem;
  row-gap: 5rem;
}

.card {
  background-color: #ffffff;
  width: 300px;
  height: 439px;
  /* margin: 20px 10px 10px 10px; */

  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

img {
  width: 100%;
}

.card-content {
  padding-top: 6.8rem;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.card-content p,
span {
  font-size: 1.6rem;
  color: #888;
}

.card-btn {
  width: 100%;
  font-weight: 600;
  padding: 18px 34px;
  background-color: #bf9562;
  border: none;
  font-size: 1.8rem;
  color: #fff;
}

/* flip */

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #000;
  text-align: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 102%;
  backface-visibility: hidden;
  background: #777;
  transform: rotateY(180deg);
  background-image: url(./pubg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.back span {
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  font-style: italic;
  font-family: monospace;
  letter-spacing: 16px;
}

.flipcard {
  transform: rotateY(180deg);
}

.tag {
  position: absolute;
  top: 44%;
  left: 0%;
  background: #232636;
  margin-left: 2.4rem;
  width: 80%;
  padding: 1rem;
  font-size: 1.6rem;
  color: rgb(177 172 172);
  border: none;
}

/* Footer */

footer {
  background-color: #232636;
  height: 30rem;
}

.footer-container {
  max-width: 154rem;
  margin: 0 auto;
  padding: 10rem 3.2rem;
}

.navigation {
  font-size: 1.6rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  gap: 3.2rem;
}

.nav-list,
.link {
  text-decoration: none;
  color: #bcbcbc;
  transition: all 0.3s;
}

.copyright-text {
  font-size: 1.4rem;
  color: #757474;
  text-align: center;
  max-width: 117rem;
  margin: 0 auto;
  line-height: 1.8;
}
