.css1{
    color: red;
    font-size: 20px;
    text-align: center;
}
.css2{
    color: blue;
    font-size: 25px;
    text-align: center;
}
.css3{
    color: pink;
    font-size: 30px;
    text-align: center;
}