/* 1200px /16px = 75em * 16px = 1200px  */
/* BELOW 1200px ( Landscape Tablets ) */
@media (max-width: 75em) {
  html {
    /* 9px/16px = 56.25% */
    font-size: 50.25%;
    transition: all 0.3s ease-in-out;
  }
  .container {
    max-width: 134rem;
  }

  .section1 {
    padding-left: 5rem;
  }

  .img2 {
    transform: translate(74%, -12%);
  }

  .img3 {
    transform: translate(118%, 17%);
  }

  .icon {
    transform: translate(113%, -28%);
  }
}

@media (max-width: 944px) {
  * {
    transition: all 0.3s ease-in-out;
  }

  html {
    /* 9px/16px = 56.25% */
    font-size: 50.25%;
  }
  .img1 {
    width: 200px;
    height: 200px;
    z-index: -1;
    position: absolute;
  }
  .img2 {
    width: 250px;
    height: 250px;
    transform: translate(53%, 23%);
  }
  .img3 {
    width: 300px;
    height: 300px;
    transform: translate(74%, 37%);
  }

  .section1 {
    margin-top: 6rem;
  }

  .grid-col3 {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 41rem;
    row-gap: 9rem;
  }
  .section2 {
    max-width: 90rem;
  }
  .card1 {
    padding: 14rem 3.8rem 0;
    z-index: -1;
  }

  .container {
    max-width: 85rem;
  }

  .card1 p {
    margin-bottom: 4rem;
  }

  .btn-mobile-nav {
    display: block;
    /* z-index: 9999; */
  }

  .navigation {
    background-color: #000;
    backdrop-filter: blur(7px);
    position: absolute;
    top: -16px;
    left: -17rem;
    width: 146%;
    height: 100vh;
    transform: translatex(124%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
  }

  .nav-open .navigation {
    opacity: 1;
    visibility: visible;
    transform: translatex(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    color: #fff;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-list,
  .link {
    font-size: 3rem;
    color: #fff;
  }
}

@media (max-width: 704px) {
  * {
    transition: all 0.3s ease-in-out;
  }

  .grid-col3 {
    grid-template-columns: 1fr;
    margin-top: 89rem;
    row-gap: 9rem;
  }

  .section1 {
    margin-top: 9rem;
  }

  .container {
    max-width: 71rem;
  }

  .img1 {
    width: 300px;
    height: 300px;
    z-index: -1;
    position: absolute;
  }
  .img2 {
    width: 350px;
    height: 350px;
    transform: translate(23%, 49%);
  }
  .img3 {
    width: 400px;
    height: 400px;
    transform: translate(14%, 88%);
  }

  .icon {
    transform: translate(123%, -28%);
  }

  .section2 {
    max-width: 48rem;
  }

  .container {
    max-width: 60rem;
  }
}

/* BELOW 544px ( Phones ) */
@media (max-width: 544px) {
  * {
    transition: all 0.3s ease-in-out;
  }
  .img1 {
    width: 150px;
    height: 150px;
    z-index: -1;
    position: absolute;
  }
  .img2 {
    width: 200px;
    height: 200px;
  }
  .img3 {
    width: 250px;
    height: 250px;
    transform: translate(14%, 76%);
  }
  .grid-col3 {
    margin-top: 51rem;
  }

  .icon {
    transform: translate(92%, -28%);
  }
  #contact {
    padding: 6rem 3rem;
  }
}
