* {
  /* border-top: 10px solid #64b8aa; */
}
body {
  font-family: sans-serif;
  color: #444;
  margin: 0;
}

h1,
h2,
h3 {
  color: #64b8aa;
}

h1 {
  font-size: 26px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  /* font-family: sans-serif; */
}

h3 {
  font-size: 30px;
  /* font-family: sans-serif; */
}

h4 {
  font-size: 20px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* font-family: sans-serif; */
  line-height: 1.5;
}

li {
  font-size: 20px;
  /* font-family: sans-serif; */
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

/* header p {
  font-style: italic;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.un-order {
  list-style: none;
}

.container {
  width: 900px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  /* padding: 20px 40px; */
  border-top: 10px solid #64b8aa;s
  margin: 20px;
  height: 120px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #64b8aa;
  border-bottom: 5px solid #64b8aa;
  width: 500px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(even) {
  color: red;
} */
/* Misconception: this won't work */
article p:first-child {
  color: red;
}

/* styling links */
a {
  color: #64b8aa;
  text-decoration: none;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline red;
}

a:active {
  background-color: black;
  color: yellow;
  font-size: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */
/* 
.x {
  color: red;
  background-color: blue;
}

.y {
  color: inherit;
  background-color: inherit;
} */
