.box {
  display: inline-block;
  background-color: yellow;
  width: 300px;
  height: 300px;
}
#two {
  background-color: green;
  position: relative;
  top: 300px;
  /* left: 50px; */
}
#four {
  background-color: green;
  position: relative;
  top: 300px;
  /* left: 50px; */
}
#six {
  background-color: green;
  position: relative;
  top: 300px;
  /* left: 50px; */
}
