* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "rubik", sans-serif;
  padding: 0 3.2rem;
}

/* MENU */

.container {
  background-color: #47485c;
  border-radius: 10px;
  max-width: 170rem;
  margin: 2rem auto;
  display: flex;
}

.bg-color {
  background-color: #25272e;
  color: #fff;
  border-radius: 30px;
  margin: 10rem 8rem;
  width: 100%;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.list {
  list-style: none;
  text-decoration: none;
  color: #8c8b8b;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 1.8rem 0rem;
  gap: 2rem;
  cursor: pointer;
  border-bottom: 1px solid #3b38449e;
  width: 83%;
}

.settings-border {
  border-bottom: none;
  margin-bottom: 3.4rem;
}

.list:hover {
  background-color: #2e3242;
  border-left: 2px solid #9143dd;
  color: #fff;
  width: 100%;
}

/* .sidebar {
  transition: all 0.5s ease;
} */

h1 {
  margin-bottom: 0.6rem;
  font-size: 2.2rem;
  font-weight: 500;
}

.email {
  color: #777;
  font-size: 1.5rem;
  letter-spacing: 0.6px;
}

.icon1 {
  background-color: #3b38449e;
  height: 18px;
  width: 18px;
  padding: 1.4rem;
  border-radius: 16px;
  cursor: pointer;
}

.icon {
  color: #fff;
  background-color: #3b38449e;
  height: 13px;
  width: 13px;
  padding: 1.4rem;
  border-radius: 16px;
  margin-left: 4rem;
}

.icon-clr1 {
  background-color: #715fcdfc;
}

.clr1:hover {
  border-left: 2px solid #715fcdfc !important;
}

.icon-clr2 {
  background-color: #659fff;
}

.clr2:hover {
  border-left: 2px solid #659fff !important;
}

.icon-clr3 {
  background-color: #b520c2d1;
}

.clr3:hover {
  border-left: 2px solid #b520c2d1 !important;
}

.icon-clr4 {
  background-color: #2faf68c9;
}

.clr4:hover {
  border-left: 2px solid #2faf68c9 !important;
}

.icon-clr5 {
  background-color: #ff8f00d6;
}

.clr5:hover {
  border-left: 2px solid #ff8f00d6 !important;
}

.icon-clr6 {
  background-color: #9143dd;
}

.clr6:hover {
  border-left: 2px solid #9143dd !important;
}

.icon-clr7 {
  background-color: #4fa7cb;
}

.clr7:hover {
  border-left: 2px solid #4fa7cb !important;
}

.icon-clr8 {
  background-color: #e86666;
}

.clr8:hover {
  border-left: 2px solid #e86666 !important;
}

.icon-clr9 {
  background-color: #d29343;
}

.clr9:hover {
  border-left: 2px solid #d29343 !important;
}

.profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 5rem 4rem 3rem 3.4rem;
}

.menu {
  font-size: 1.8rem;
  color: #999;
  margin-left: 4rem;
  letter-spacing: 0.5px;
  padding: 2rem 0rem;
}

.menu1 {
  padding-top: 0rem;
}

/* SETTINGS */

.cont-menu {
  display: flex;
}

.container1 {
  background-color: #2e3242;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-right: 1px solid #3b3844;
  width: 47%;
}

.settings-h2 {
  font-size: 2rem;
  margin-bottom: 3.2rem;
  margin-top: 5rem;
  padding: 0rem 5rem;
}

.profile-info {
  background-color: #0161ff;
  border-radius: 20px;
  padding: 2.6rem 1.8rem;
  height: 23%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0rem 5rem;
}

.circle {
  width: 75px;
  height: 75px;
  background-color: #3f87fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #fff;
}

.circle-percentage {
  font-size: 2.2rem;
}

.pro-info {
  /* display: block; */
  line-height: 1.8;
}

.pro-info p {
  font-size: 1.8rem;
}

.pro-info span {
  font-size: 1.4rem;
}

.button {
  /* padding: 1.4rem 10rem; */
  padding: 1.3rem 9rem;
  font-size: 1.6rem;
  border-radius: 30px;
  border: none;
  color: #1766e8;
  font-weight: 600;
  cursor: pointer;
}

.settings-list {
  margin-top: 5rem;
  display: flex;
  line-height: 2;
  word-spacing: 2px;
  gap: 2.4rem;
  color: #bcbcbc;
  margin-left: 6rem;
  padding-bottom: 2.4rem;
  cursor: pointer;
}

.bdr-btm {
  border-bottom: 2px solid #3b38449e;
}

.setting-appere span {
  font-size: 1.9rem;
}

.setting-appere p {
  font-size: 1.6rem;
}

.arrow-icon {
  background-color: unset;
  margin-left: 3rem;
}

.arrow-icon1 {
  background-color: unset;
  margin-left: 5rem;
}

.arrow-icon2 {
  background-color: unset;
  margin-left: 9rem;
}
.icon-clr {
  background-color: #715fcdfc;
}
.bor {
  margin-top: 2rem;
}

.settings-list:hover {
  color: #fff;
}

/* Account Settings */

.container2 {
  background-color: #2e3242;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 43%;
}

.settings h2 {
  font-size: 2.6rem;
  margin-top: 5rem;
  padding: 0rem 5rem;
  margin-bottom: 5.4rem;
}

.bdr-btm1 {
  border-bottom: 2px solid rgba(59, 56, 68, 0.62);
}

.personal-info {
  padding: 4rem 5rem;
}

.personal-info span {
  font-size: 2rem;
  line-height: 2.7;
}

.personal-info p {
  font-size: 1.5rem;
  color: #bcbcbc;
  /* margin-bottom: 4rem; */
}

form {
  padding: 0rem 5rem;
}

/* form */
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 1.6rem;
  font-size: 1.8rem;
  border-radius: 9px;
  background-color: #3b38449e;
  border: 1px solid #66626f9e;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.cta-form input::placeholder {
  color: #fff;
}

.form {
  margin-top: 3rem;
  padding: 0rem 5rem;
}

.form label {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.form input {
  width: 100%;
  padding: 1.6rem;
  font-size: 1.8rem;
  border-radius: 9px;
  background-color: #3b38449e;
  border: 1px solid #66626f9e;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin-top: 1.2rem;
  margin-bottom: 4rem;
}

.form input::placeholder {
  color: #fff;
}

/* notifications */
.checkboxes {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2rem;
  margin-bottom: 4rem;
}

.checkboxes label {
  font-size: 1.8rem;
  margin-left: 1.4rem;
}

.align {
  display: flex;
  align-items: center;
  justify-content: left;
}

.checkboxes input {
  width: 3rem;
  height: 4rem;
}

/* Last one */

.discard {
  padding: 0rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 4rem;
}

.discard span {
  font-size: 1.8rem;
  font-weight: 600;
}

.btn {
  padding: 2.4rem 3rem;
  font-size: 1.6rem;
  border-radius: 30px;
  border: none;
  background-color: #4a4792;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #5c5a99;
}

/* Dashboard */

.dribbble {
  display: none;
}

.show {
  display: block;
}

.dribbble {
  background-color: #2e3242;
  border-radius: 22px;
  width: 100%;
}

.dribbble1 {
  background-color: #2e3242;
  border-radius: 22px;
  display: flex;
  column-gap: 4rem;
}
