* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "rubik", sans-serif;
  overflow-x: hidden;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;

  margin-bottom: 4.2rem;
  margin-top: 2rem;
}

.logo {
  height: 9.2rem;
}

.navigation {
  font-size: 1.6rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2.2rem;
}

.nav-list,
.link {
  text-decoration: none;
  color: #666;
  transition: all 0.3s;
}

/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 113px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2rem;
}

.dropdown-content a {
  color: #666;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content ul li {
  list-style: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cart-icon {
  font-size: 3.2rem;
  color: #fff;
  background-color: #2477dfeb;
  border-radius: 50%;
}

.person-icon {
  font-size: 4rem;
  color: #2477dfeb;
}

/* mobile button */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.webinars-image {
  height: 37rem;
  display: flex;
  align-items: center;
  background-image: url(./webinar.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 13rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 6.8rem;
  color: #222;
}

/* SECTION---1 */

.iframe {
  display: none;
}

.show {
  display: block;
}

.main-section1 {
  padding: 4.8rem 0 4.6rem 0;
}

.section1 {
  max-width: 170rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: 55fr 45fr; */
  gap: 5.6rem;
  text-align: center;
}

iframe {
  width: 100%;
  height: 25rem;
}

.button {
  margin-bottom: 1.6rem;
  padding: 10px 10px;
  border: none;
  background-color: #78b256fa;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}

/* SECTION---2 */

.main-section2 {
  padding: 4.8rem 0 10.6rem 0;
}

.section2-header {
  max-width: 170rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 5.2rem;
}

.hr {
  margin-top: 1rem;
  border-bottom: 1px solid #000;
}

.section2-webinar {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #666;
}

/* FOOTER */

.container {
  max-width: 158rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-bottom: 1.6rem;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.footer {
  padding: 3.8rem 0;
  background-color: #f0f0f0;
}

.grid-footer {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  padding-left: 1rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  line-height: 1.6;
  transition: all 0.3s;
}

.footer-link:hover {
  color: #555;
}

.copyright {
  margin: 3.4rem 0rem;
  color: #767676;
  font-size: 1.6rem;
  text-align: center;
}

.copyright-link {
  color: #1692be;
  text-decoration: none;
}
