* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #555;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #333;
  /* opacity: ; */
}

#input--1,
#input--2 {
  padding: 8px;
  outline: none;
  font-size: 16px;
  /* background-color: transparent; */
  /* border: none; */
}

.hello {
  margin-bottom: 2rem;
}

button {
  display: block;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 500;
}

.calc {
  width: 25px;
}

.sample {
  background-color: #999;
  padding: 3rem;
  border-radius: 10px;
}
