* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT SYSTEM (PX) 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

body {
  font-family: "inter", sans-serif;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.header-text-box {
  align-self: center;
}

.header-text {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.7;
}

/* .link {
  color: blue;
} */

img {
  width: 100%;
}

h1 {
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

header {
  margin-bottom: 48px;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

/* section------1 */
h2 {
  margin-bottom: 38px;
  /* font-size: 24px; */
}

.section1-grid-cols3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}

.science {
  margin-bottom: 20px;
}

.section1-text {
  margin-bottom: 80px;
}

/* section-------2 */
.section2-grid-cols2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
}

.section2-h2 {
  margin-top: 40px;
}

.section2-author {
  margin-top: 30px;
}

/* section-----3 */
.section3-grid-cols3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
}

.section3-h2 {
  margin-top: 38px;
}

.section3-img2 {
  grid-row: 1 / 3;
}

.section3-img3 {
  grid-row: 1 / 4;
}

.laid-black {
  margin: 25px 20px;
}

.price {
  margin: 20px;
  display: flex;
  column-gap: 120px;
}

ul,
li {
  list-style-type: none;
  line-height: 50px;
  padding-left: 10px;
}

/* Footer */
footer {
  margin-top: 50px;
}
